body
{
    color: white;

    font-family: 'Ubuntu', Arial, Verdana, sans-serif;
}

.page
{
    max-width: 600px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


.text
{
    line-height: 22px;
    font-size: 18px;
}


.heading
{
    text-align: center;
}