
.menu-element
{
  /*background-color: white;*/


  color: white;

  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px; 
  padding-right: 10px;
}

.menu-element:hover
{
  background-color: #6f858f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  

}

