
.menu-element
{
  /*background-color: white;*/


  color: white;

  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px; 
  padding-right: 10px;
}


.link
{
  color: inherit;
}