.menu-element-inner
{

  color: white;

  display: inline-block;  
  padding-left: 20px; 
  padding-right: 20px;
}

.inner:hover
{
  background-color: #6f858f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  

}


.active-tab-extra
{
  width: 10px;

  background-color: #5c707a;
}

.active-tab-extra-left
{ 
  border-bottom-right-radius: 10px;
}

.active-tab-extra-right
{ 
  border-bottom-left-radius: 10px;
}

.menu-element-outer
{
  background-color: #163341;
}